<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Dodaj kontakt</title>
</head>
<body>
    <h3 style="text-align: center">DODAJ KONTAKT</h3>

    <div style="text-align: center">
        <p th:text="${phoneAlreadyExistsMessage}"></p>

        <form method="post" th:action="@{/contact/add}" th:object="${addContactForm}">
            <span th:errors="*{name}"></span>
            Imię: <input th:field="*{name}" placeholder="Imię"><br/>
            <span th:errors="*{surname}"></span>
            Nazwisko: <input th:field="*{surname}" placeholder="Nazwisko"><br/>
            <span th:errors="*{phone}"></span>
            Numer tel: <input  th:field="*{phone}" placeholder="Numer telefonu"><br/>
            <span th:errors="*{email}"></span>
            e-mail: <input th:field="*{email}" placeholder="e-mail"><br/><br/>

            <input type="submit" value="Dodaj"><br/>

            <a href="/home_page">Powrót</a>
        </form>
    </div>
</body>
</html>