<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Witaj!</title>
</head>
<body>
    <div style="text-align: center">
        <h3 th:text="${accountStatus}"></h3>
        <br/>
        <p th:text="${contactActionMessage}"></p>
        <br/>
        <a href="/contacts">Wyświetl kontakty</a>
        <br/>
        <a href="/contact/add">Dodaj nowy kontakt</a>
        <br/><br/>
        <a href="/logout">Wyloguj</a>
    </div>
</body>
</html>