<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
    <div style="text-align: center;">
        REJESTRACJA<br/><br/>
        <form th:action="@{/registration}" th:object="${registrationForm}" method="post">
            <p th:text="${message}"></p>
            Login<br/>
            <input type="text" id="login" th:field="*{login}" placeholder="Login"><br/>
            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}">required.login</span>
            <br/>
            Hasło<br/>
            <input type="password" id="password" th:field="*{password}" placeholder="Hasło"><br/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <span th:errors="*{password}"></span>
            <br/>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Potwierdź hasło"><br/>
            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
            <br/><br/>
            <button type="submit">Zerejestruj</button>
        </form>
    </div>

</body>
</html>