<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Rejestracja</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container w-25">
        <div class="jumbotron p-4 mb-2 bg-info text-white">
            <h3 style="text-align: center">Rejestracja</h3>
        </div>

        <form method="post" th:action="@{/registration}" th:object="${registrationForm}">
            <div class="form-group">
                <label for="login">Login:</label>
                <input type="text" class="form-control" id="login" placeholder="Podaj login" name="login" th:field="*{login}">
                <span class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
            </div>

            <div class="form-group">
                <label for="password">Hasło:</label>
                <input type="password" class="form-control" id="password" placeholder="Podaj hasło" name="password" th:field="*{password}">
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Powtórz hasło:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Powtórz hasło" name="confirmPassword">
                <span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
            </div>
            <br/>

            <div class="text-center">
                <button type="submit" class="btn btn-info">Zarejestruj się</button>
            </div>
        </form>
        <br/>

        <div class="text-center">
            <a href="/home_page" class="btn btn-secondary">Powrót</a>
        </div>
    </div>
</body>
</html>